---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon'

const pageName = "Promptry";
const projectsLink = "/projects";
const blogLink = "/blog";
const quotes = [
	{
		author: "Some LLM",
		content: "Get your data groove on: expert analytics, development, and more."
	}
]
---

<Layout title={pageName}>
	<main class="container-fluid">
		<section class="row bg-white text-dark py-5">
			<aside class="col-md-3"></aside>
			<section class="col-md-6">
				<header class="vstack gap-2 text-center">
					<section class="hstack gap-2 d-flex justify-content-center">
						<h1 class="landing-title">{pageName}</h1>
						<!-- <Icon name="datamodel" /> -->
					</section>
					<p id="landing-subtitle"></p>
					<section class="hstack gap-2 d-flex justify-content-center">
						<a href={projectsLink} class="btn btn-outline-dark">Projects</a>
						<a href={blogLink} target="_blank" class="btn btn-primary">Blog</a>
					</section>
				</header>
			</section>
			<aside class="col-md-3"></aside>
		</section>
		<section class="row py-5">
			<aside class="col-md-3"></aside>
			<section id="quotes" class="col-md-6">
				{
					quotes.map((q) => (
						<blockquote class="blockquote text-center">
							<p>{q.content}</p>
							<footer class="blockquote-footer">{q.author}</footer>
						</blockquote>
					))
				}
			</section>
			<aside class="col-md-3"></aside>
		</section>
	</main>
</Layout>

<script is:inline>
	const writer = () => {
		const subtitle = 'Learning Data Analytics and Web Development';
		const p = document.getElementById('landing-subtitle');
		function typeWriter(text, i) {
			if (i < text.length) {
				p.textContent += text.charAt(i);
				i++;
				setTimeout(typeWriter, 50, text, i);
			}
		}
		typeWriter(subtitle, 0);
	}
	const quotes = () => {
		console.log("quotes");
	}
	writer();
	quotes();
</script>